<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crud.remix.EmpMapper">
    <resultMap id="empResultMap" type="com.crud.remix.EmpDTO">
        <id property="empId" column="emp_id"/>
        <result property="empName" column="emp_name"/>
        <result property="empNo" column="emp_no"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="deptCode" column="dept_code"/>
        <result property="jobCode" column="job_code"/>
        <result property="salLevel" column="sal_level"/>
        <result property="salary" column="salary"/>
        <result property="bonus" column="bonus"/>
        <result property="managerId" column="manager_id"/>
        <result property="hireDate" column="hire_date"/>
        <result property="entDate" column="ent_date"/>
        <result property="entYn" column="ent_yn"/>
    </resultMap>

    <select id="selectAllEmp" resultMap="empResultMap">
        select *
        from employee
        where emp_id
        order by emp_id
    </select>
<!--_int는 파라미터의 타입을 나타내는 것으로, 이 경우 Java의 원시 타입인 int를 의미-->
    <select id="selectEmpByCode" parameterType="_int" resultMap="empResultMap">
        select *
        from employee
        where emp_id = #{ code }
    </select>

    <select id="selectEmpByName" resultMap="empResultMap">
        select *
        from employee
        where emp_name = #{ name }
    </select>

    <insert id="registEmp" parameterType="com.crud.remix.EmpDTO">
        insert into employee (
        emp_id,
        emp_name,
        emp_no,
        job_code,
        sal_level
        salary
        ) value (
        #{ empId },
        #{ empName },
        #{ empNo },
        #{ jobCode },
        #{ salLevel }
        )
    </insert>

    <update id="modifyEmp" parameterType="com.crud.remix.EmpDTO">
        update employee
        set
<!--        emp_id = #{ empId },-->
        emp_name = #{ empName },
        salary = #{ salary }
        where emp_id = #{ empId }
    </update>

    <delete id="deleteEmp" parameterType="_int">
        delete
        from employee
        where emp_id = #{ empId }
    </delete>
</mapper>